/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #141414;
    font-family: "Neue Montreal";
  }
  
  /* Container Layout */
  .main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

.intro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.intro-container .container {
  will-change: transform;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1em;
}

.intro-container .content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.intro-container .col {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro-container .col .item {
  position: relative;
  flex: 1;
  width: 100%;
  background: gray;
  overflow: hidden;
}

.intro-container .col .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.intro-container .c-1,
.intro-container .c-3,
.intro-container .c-5 {
  top: 100%;
}

.intro-container .c-1 .item,
.intro-container .c-3 .item,
.intro-container .c-5 .item {
  top: 100%;
}

.intro-container .c-2 .item,
.intro-container .c-4 .item {
  top: -100%;
}

/* Navigation Styles */
.intro-container nav {
  position: fixed;
  width: 100%;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  z-index: 3;
}

.intro-container .nav-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro-container .nav-item a {
  position: relative;
  top: 20px;
  text-decoration: none;
  color: #fff;
  opacity: 0.35;
}

.intro-container .nav-item a#active {
  opacity: 1;
}

/* Hero Section */
.intro-container .hero {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 3;
}

.intro-container .icon,
.intro-container .icon-2 {
  flex: 0.5;
  padding: 0 5em;
  font-size: 30px;
  opacity: 0.5;
}

.intro-container .icon-2 {
  text-align: right;
}

.intro-container .icon ion-icon,
.intro-container .icon-2 ion-icon {
  transform: scale(0);
}

.intro-container .title {
  flex: 2;
  text-align: center;
  font-size: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro-container .title p {
  position: relative;
  top: 50px;
}

/* Footer Styles */
.intro-container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.intro-container .preview {
  position: absolute;
  bottom: 2em;
  right: 2em;
  display: flex;
  gap: 0.3em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro-container .preview img {
  will-change: transform, top;
  position: relative;
  top: 100px;
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.intro-container .slide-num {
  margin: 3em 0;
  text-align: center;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro-container .slide-num p {
  position: relative;
  top: 30px;
}

/* Slider Styles */
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  will-change: transform;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #141414;
  z-index: 100;
}

.loader p {
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.2em;
}

.loader-dot {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
}
/* Responsive Adjustments */
@media(max-width: 900px) {
  .intro-container .slide-num {
    text-align: left;
    padding-left: 2em;
    margin-bottom: 2.5em;
  }

  .intro-container .title {
    font-size: 30px;
  }

  .intro-container .icon,
  .intro-container .icon-2 {
    padding: 0 1em;
    font-size: 16px;
  }

  .intro-container .preview img {
    width: 60px;
    height: 40px;
  }
}

